/* Import the google web fonts you want to use */
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

body {
  padding: 0 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

p {
  margin-bottom: 1.5em;
}

.title--main {
  margin-block-end: 0;
}

#items-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.item-card {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 2rem;
  border: 10px solid rgb(245, 92, 168);
  font-size: larger;
  border-radius: 15%;
}

.product-card {
  width: 500px;
  color: rgb(225, 247, 247);
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  background-color: rgb(245, 92, 168);
  padding: 15px;
}

.front_image {

  display: flex;
  margin: auto;
  width: 800px;
  height: 800px;


}

.list_heading {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
  font-size: 25px;
  margin-right: 10px;
}

.heading_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 500px;
}

.top__btn {
  background-color: darkorange;
  color: white;
  font-size: 18px;
}

.active {
  display: none;
}

.product-card-name {
  flex-basis: 50%;
}

.product-form {
  width: 600px;
}

.type-box {
  padding: 10px;
}